@import "../../../sass/variable";
@import "../../../sass/utilities";

.assignment_button {
  font-family: sans-serif;
  color: $white;
  text-decoration: none;
  background-color: $red;
  font-size: $font_size;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  &:active {
    transform: scale(0.95);
  }
}
.assignment__configure {
  @include flex_layout();
}
