@import "../../sass/variable";

.editor__wrapper {
  padding: 2rem;
  .wrapper {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .editor {
    background-color: rgba(243, 243, 243, 0.35);
    padding: 1rem;
    border: 0.1rem solid #ccc;
    min-height: 18rem;
  }
  .toolbar {
    border: 1px solid #ccc;
  }
  .editor__title {
    font-size: $font_size;
    color: $black;
    padding: 1rem 0;
  }
  .btn__box {
    border: 0.1rem solid rgb(128, 128, 128, 0.4);
    text-align: center;
    padding: 1rem;
    margin-top: 0.5rem;
    & > button {
      border: none;
      color: $white;
      background-color: $red;
      font-size: $font_size;
      font-weight: bold;
      padding: 1rem 2rem;
      cursor: pointer;
      border-radius: $border_rad - 0.2rem;
    }
  }
}
