$primary_bg_color: #0086b3;
$primary_color: #0086b3;
$white: white;
$black: black;
$light_black: rgba(0, 0, 0, 0.031);
$font_size: 1.5rem;
$border_rad: 0.5rem;
$red: #dc3545;
$blue: #0069d9;
$border_col: rgb(128, 128, 128, 0.3);
$sidenav_width: 28rem;
$nav_toggle_duration: 0.4s;
$time_function: ease-out;
