@import "../../sass/utilities";
@import "../../sass/variable";

.login__wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/login_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include flex_layout();
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .login__box {
    position: relative;
    width: 50%;
    min-width: 45rem;
    height: 45rem;
    overflow: hidden;
    border-radius: 1rem;
    @include flex_layout();
    box-shadow: 0 0 1.5rem 0.1rem lighten(black, 60%);
    .form__sign__in__box {
      @include flex_layout(center, center, column);
      width: 50%;
      height: 100%;
      padding: 2rem 3rem;
      background-color: white;
      .login__form__title {
        font-size: 3rem;
        color: $black;
        margin-bottom: 2.5rem;
        font-weight: bolder;
        font-stretch: wider;
      }
      .login__input__box {
        position: relative;
        width: 100%;
        height: max-content;
        @include flex_layout(null, center, column);
        & > label {
          align-self: flex-start;
          font-size: 1.4rem;
          color: $black;
          padding: 0.4rem 0;
        }
        margin-bottom: 1.5rem;
        & > input {
          width: 100%;
          height: 5rem;
          background-color: transparent;
          padding-left: 1.5rem;
          border: 0.2rem solid #ccc;
          border-radius: 0.4rem;
          &:focus {
            outline: none;
          }
        }
      }
      .checkbox_container {
        @include flex_layout(center, space-between);
        width: 100%;
        margin-bottom: 4rem;
        padding: 0 0.5rem;
        .checkbox {
          @include flex_layout();
          input[type="checkbox"] {
            transform: scale(1.5);
            margin-right: 0.8rem;
          }
          & > p {
            font-size: 1.5rem;
            color: $black;
          }
        }
        .pass__forgot__btn {
          font-size: 1.3rem;
          color: rgba($black, 0.8);
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .sign__in__btn {
        background-image: linear-gradient(#24a134, #248534);
        padding: 1.3rem 5rem;
        color: white;
        border: none;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .form__forgot__pass__box {
      position: relative;
      width: 50%;
      height: 100%;
      padding: 2rem 3rem;
      @include flex_layout(center, center, column);
      background-color: #3a70b6;
      .key__icon__container {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-color: white;
        display: grid;
        place-items: center;
        margin-bottom: 2rem;
        .key__icon {
          font-size: 5rem;
          color: $black;
        }
      }
      & > h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
        text-align: center;
        font-weight: bold;
        color: white;
      }
      & > p {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        color: white;
      }
      & > input {
        width: 100%;
        height: 5rem;
        background-color: #eeeeee;
        padding-left: 1.5rem;
        border-radius: 0.2rem;
        margin: 2rem 0;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .submit__btn {
        border: 0.2rem solid white;
        background-color: transparent;
        color: white;
        padding: 1.5rem 3.5rem;
        border-radius: 0.3rem;
        cursor: pointer;
        width: max-content;
        &:active {
          transform: scale(0.9);
        }
      }
      .back__btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        border: 0.2rem solid white;
        @include flex_layout();
        padding: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        &:active {
          transform: scale(0.9);
        }
        .icon {
          font-size: 1.4rem;
          color: white;
        }
      }
    }
    .overlay__panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url(../../assets/login_img1.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 100%;
      padding: 2rem 2rem;
      @include flex_layout(center, center, column);
      transition: {
        property: transform;
        duration: 0.3s;
        timing-function: ease-out;
      }
      &.show {
        transform: translateX(-100%);
      }
      & > img {
        width: 70%;
        height: auto;
        object-fit: contain;
      }
      .panel__title {
        font-size: 4rem;
        color: $black;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 2rem;
        font-variant: small-caps;
      }
      & > p {
        font-size: 1.4rem;
        color: lighten($black, 0.6);
        text-align: center;
      }
    }
  }
}
.login__error {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: red;
  text-align: start;
}
