@import "../../sass/utilities";
@import "../../sass/variable";

.slot__container {
  @include flex_layout(center, space-between);
  padding: 2rem;
  border: 1px solid $border_col;
  .slot {
    @include flex_layout();
    & > img {
      width: 2rem;
      height: auto;
      object-fit: cover;
    }
    .btn__box {
      @include flex_layout(center, null);
      margin: 0 4rem;
    }
    .input__box {
      margin: 0 3rem;
      .label {
        font-size: $font_size - 0.1rem;
        padding: 0 1rem;
      }
      & > input {
        padding: 0 1rem;
      }
    }
  }
}
