@import "../../sass/utilities";
@import "../../sass/variable";

.slot {
  @include flex_layout(center, space-between);
  position: relative;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .btn__box {
    @include flex_layout(center, null);
  }
  .input__container {
    @include flex_layout(center, null);
    margin-right: 2rem;
    .input__box {
      @include flex_layout(center, space-between);
      width: 100%;
      .label {
        font-size: $font_size;
        padding: 0 1rem;
      }
      & > input {
        width: 100%;
        padding: 1rem 1rem;
        border-radius: $border_rad;
        border: 0.2rem solid #ccc;
      }
    }
  }
}
