@import "../sass/variable";
@import "../sass/utilities";

.section {
  height: max-content;
  background-color: white;
  height: max-content;
  width: 100%;
  border: 0.1rem solid $border_col;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  &.dark {
    position: relative;
    border: 0.1rem solid white;
    color: white;
    background: rgba(black, 0.35);
    &.course__section {
      border: none;
      background-color: #ffffff26;
      .course__btnLink {
        background-color: #fafafa;
        color: black;
      }
    }
  }
}
