@import "../sass/utilities";

.loader_course {
  @include flex_layout();
  min-width: 30rem;
  min-height: 20rem;
}
.course__list__box {
  @include flex_layout(null, space-between, column);
  min-width: 30rem;
  min-height: 20rem;
  padding: 0 1rem;
  margin-top: 2rem;
  .option_box {
    width: 100%;
    @include flex_layout(center, null);
    margin-bottom: 1rem;
  }
  .option {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  [name="option"] {
    transform: scale(1.6);
    margin-right: 1.2rem;
  }
  [name="option"]:checked + .option {
    color: $blue;
  }
}
