@import "../sass/variable";
@import "../sass/utilities";
@import "../sass/carousel";

.content__container {
  position: relative;
  margin-top: 2rem;
  height: 100%;
  padding: 2rem 2rem 3rem 2rem !important;
  .content__topic {
    font-size: $font_size + 0.3rem;
    font-weight: bolder;
  }

  .item {
    margin: 1rem 0;
    padding: 1rem;
    & > p {
      display: block;
      font-size: $font_size + 0.5rem;
      margin-bottom: 1rem;
    }
    & > textarea {
      width: 100%;
      height: 25rem;
      padding: 1rem;
      font-size: $font_size;
    }
    .mcq {
      padding: 1rem;
      @include flex_layout(center, null);
      & > input[type="radio"] {
        margin-right: 3rem;
        transform: scale(2);
      }
      & > span {
        font-size: $font_size + 0.5rem;
        font-weight: bold;
        word-spacing: 0.5rem;
      }
    }
  }
}
ul.carousel__dot {
  display: flex !important;
  justify-content: center;
  transform: translateY(1rem);
  & > li {
    list-style: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $blue;
    &.slick-active {
      box-shadow: 0 0 0 0.4rem rgba($primary_color, 0.5);
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    & > button {
      visibility: hidden;
      user-select: none;
    }
  }
}
.btn {
  position: absolute;
  bottom: 0.5rem;
  right: 10rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  @include flex_layout();
  font-size: $font_size;
  color: white;
  background-color: $blue;
  z-index: 1000;
  border: none;
  cursor: pointer;
  &.right {
    right: 5rem;
  }
}
