@import "../sass/variable";
@import "../sass/utilities";
.container {
  background-color: $primary_bg_color;
  width: 100%;
  height: max-content;
  padding: 1.5rem;
  @include flex_layout(center, space-between);
  .header__box {
    @include flex_layout();
    & > img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      margin-right: 1.5rem;
      &.invert {
        filter: invert(100%);
      }
    }
    & > span {
      color: $white;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &.dark {
    color: black;
    background-color: #fafafa;

    .header__box {
      & > span {
        color: black;
      }
    }
  }
}
