@import "../sass/variable";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.table__wrapper {
  padding: 1rem;
}
table {
  display: table;
  position: relative;
  border-collapse: separate;

  width: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
  border-spacing: 0.4rem;
  th,
  td {
    border: 0.1rem solid rgba($black, 0.2);
    text-align: center;
    color: black;
    padding: 1.5rem 0;
    cursor: pointer;
    font-size: 1.3rem;
    @media screen and (max-width: 400px) {
      font-size: 1.2rem;
    }
    border-radius: 0.2rem;
  }
  th {
    border: 0.1rem solid $primary_color;
    color: black;
    padding: 1.5rem 0;
    letter-spacing: 0.1rem;
    background-color: rgba(lightBlue, 0.4);
  }
  td {
    font-weight: 500;
    font-size: 1.4rem;
  }
  tr:nth-child(even) {
    background-color: $light_black;
  }
  &.dark {
    background-color: rgba(#42285a, 0.4);

    & th {
      color: white;
      background: hsla(0, 0%, 100%, 0.18);
    }
    & td {
      color: white;
      font-family: "Nunito";
      letter-spacing: 0.05rem;
    }
    & th,
    td {
      border: 0.1rem solid #ffffff3a;
    }
    tr:nth-child(even) {
      background-color: #18105c5d;
    }
  }
}
