.editor__wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
.toolBar {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 70rem;
}
.ql-editor {
  min-height: 20rem;
}
