@import "../../sass/variable";
@import "../../sass/utilities";
.container {
  background-color: $primary_bg_color;
  width: 100%;
  height: max-content;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  @include flex_layout(center, flex-start);
  & > img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-right: 1.5rem;
    &.invert {
      filter: invert(100%);
    }
  }
  & > span {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }
}
