@import "../../sass/variable";
@import "../../sass/utilities";

.header {
  position: relative;
  width: 100%;
  height: max-content;
  padding: 1rem 0;
  margin-bottom: 2rem;
  &__toggle {
    padding: 0 1rem;
    box-shadow: inset 0.3rem 0.3rem 0.02rem 0.05rem #a1a1a1,
      inset -0.3rem -0.3rem 0.02rem 0.05rem $primary_color;
    border-radius: $border-rad;
    @include flex_layout(center, space-between);
    & > img {
      width: 8rem;
      height: 8rem;
      padding: 1rem 1.5rem;
      user-select: none;
      &.menu__img {
        border: 0.25rem solid $primary_color;
        border-radius: $border_rad;
        transform: scale(0.7);
        cursor: pointer;
        transition: {
          property: box-shadow;
          duration: 0.2s;
        }
        &:active {
          box-shadow: 0 0 0 0.4rem rgba($primary_color, 0.4);
        }
      }
    }
  }
  &__navigation {
    margin-top: 2rem;
    @include flex_layout(center, center);
    padding: 3.5rem;
    @media screen and (max-width: 660px) {
      padding: 0;
    }
    ul {
      @include flex_layout(center, center);
      width: 100%;
      @media screen and (max-width: 660px) {
        @include flex_layout(flex-start, null, column);
      }
      & > li {
        padding: 2rem;
        list-style: none;
        @include flex_layout(center, null);
        margin: 0 1rem;
        border: 0.2rem solid transparent;
        border-radius: 0.3rem;
        cursor: pointer;
        border-radius: $border_rad;
        transition: {
          property: box-shadow;
          duration: 0.3s;
        }
        @media screen and (max-width: 660px) {
          padding: 3.5rem 2rem;
        }
        &:hover {
          box-shadow: inset 5px 5px 0.02rem 0.05rem #a1a1a1,
            inset -0.5rem -0.5rem 0.02rem 0.05rem $primary_color;
        }
        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          margin-right: 1rem;
          user-select: none;
        }
        span {
          color: $black;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
    }
  }
}
