@import "../sass/variable";
@import "../sass/utilities";

.main__container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  transition: {
    property: margin-left;
    duration: $nav_toggle_duration;
    timing-function: $time_function;
  }
  @media screen and (max-width: 768px) {
    min-width: 100vw;
  }
  &.active {
    margin-left: 0;
  }
}
