@import "../../sass/variable";
@import "../../sass/utilities";

.section {
  @include flex_layout(center, null, column);
  height: max-content;
  background-color: #f5f5f5;
  height: max-content;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.75rem rgba(black, 0.25);
  padding: 1rem;
  &.dark {
    position: relative;
    color: rgba(#ccc, 0.5);
    background: $dark;
    box-shadow: $dark_box_shadow;
    &.course__section {
      border: none;
      background-color: #ffffff26;
      .course__btnLink {
        background-color: #fafafa;
        color: black;
      }
    }
  }
}
