@import "../../sass/variable";

.table__wrapper {
  padding: 2rem;
}
table {
  display: table;
  position: relative;
  border-collapse: collapse;
  width: 100%;
  th {
    border: 0.1rem solid rgba($primary_color, 0.3);
    text-align: center;
    color: black;
    font-size: $font_size + 0.1rem;
    padding: 1rem 0;
    cursor: pointer;
    font-weight: bolder;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
