.editor__wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}
.toolBar {
  padding: 1rem;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* max-width: 40rem; */
}
.ql-editor {
  min-height: 20rem;
}
.btn {
  border: none;
  color: black;
  background-color: "#e60000";
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
